<%- include('partials/header'); -%>


  <section class="home">

    <div>
      <h1>HealthX -- A project that improves the health care system</h1>
      <h6>Losing important medical reports can be an issue. HealthX is a web-app which is intended to support patients by saving their medical needs and reports in a server that are accessible anytime, anywhere!</h6>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img class="home-img" src="https://www.asindia.net/assets/img/Asindia/healthcare-system-graphic.png" alt="picture">
        </div>
        <div class="col-sm">
          <br>
          <p>Trouble keeping all your documents and reports in one place? Join HealthX today and organize your health records instantly. HealthX helps you keep track of your health records and your information all in one place so you access them anytime, anywhere. Create an account today using the link below!</p>
          <a class="btn btn-primary" href="/portal">Join HealthX Today</a>
          <a class="btn btn-primary" href="/profile">View Profile</a>
        </div>
      </div>
    </div>

  </section>

  <%- include('partials/footer'); -%> 